html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EFEFEF
  
}
  .job-title {
    color: darkslategray;
    font-weight: bold;
  }

ul {
  padding: 30px;
  background-color: #FFFFFFFF;
  border: 5px solid purple;
  border-radius: 20px; 
  
}

  a {
    color: green
  
}

  a:hover,
  a:focus {
    color: darkgreen;
    text-decoration: none; 
  }


h1 {
  font-size: 2rem;
  color: darkslategray;
  border-bottom: 10px dotted rgb(172, 43, 201);

}

h2 {
  font-size: 1.5rem;
  font-style: italic;
}


